* {
  margin: 0px;
}
/*fondo del body gradiente, creado en https://cssgradient.io/*/
body {
  background: rgb(91, 155, 252);
  background: linear-gradient(
    0deg,
    rgb(91, 155, 252) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.cuerpo {
  width: 70vw;
  margin: auto;
}

h1 {
  font-family: "Exo", sans-serif;
  text-align: center;
  font-size: 3.5vw;
  background-color: rgb(91, 155, 252);
  color: aliceblue;
  transition: ease-out 1s;
  margin-bottom: 0;
}

h1:hover {
  background-color: aliceblue;
  color: rgb(91, 155, 252);
  transition: ease-in 1s;
}

h2 {
  font-family: "Exo", sans-serif;
}

h3 {
  font-family: "Exo", sans-serif;
}

header {
  margin: auto;
}

nav {
  background-color: rgb(126, 178, 255);
  color: aliceblue;
  font-size: x-large;
  font-family: "Exo", sans-serif;
  /*esto es para cuando se achica demasiado la pagina y se hacen dos renglones, que quede centrado*/
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: aliceblue;
}

nav a:hover {
  animation: navAnimation 0.3s linear 0s 1 normal forwards running;
}
@keyframes navAnimation {
  from {
    background-color: rgb(91, 155, 252);
  }
  to {
    background-color: #1d2d49;
  }
}

/* Imagen debajo del nav, se llama carrousel porque lo sera si nos da el tiempo*/
.carrousel {
  width: 100%;
  max-height: 500px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carrousel img {
  width: 100%;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row; /*Una FILA con "section" y "aside"*/
}

section {
  width: 75%;
  color: #1d2d49;
  border: rgb(132, 181, 255) 1px solid;
  background-color: aliceblue;
}

article {
  padding: 40px;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: rgb(132, 181, 255) 1px solid;
}

aside {
  background-color: rgb(152, 193, 255);
  color: aliceblue;
  width: 25vw;
  padding: 3%;
  text-align: center;
  border: rgb(132, 181, 255) 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside p{
  font-size: small;
}

footer {
  margin: 0px;
  padding: 0px;
  color: aliceblue;
  background-color: #1d2d49;
  font-family: "Exo", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.foot1 {
  text-align: center;
  margin: 15px;
  font-weight: bold;
}
.socialMedia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fa-brands:hover {
  animation: changeColor 0.6s linear 0s 1 normal forwards running;
}
@keyframes changeColor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.fa-brands {
  color: aliceblue;
  font-size: 2em;
  margin: 15px;
}

.afaLogoCont {
  display: flex;
  justify-content: center;
}

.afaLogo:hover {
  animation: changeColor 0.6s linear 0s 1 normal forwards running;
}

/*+++++++++++++++ RESPONSIVE +++++++++++++++++*/
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 8vw;
  }
  .cuerpo {
    width: auto;
  }
  main {
    flex-direction: column;
  }
  section {
    width: auto;
  }
  aside {
    width: auto;
  }
}

@media only screen and (max-width: 650px) {
  nav {
    font-size: large;
    border: #1d2d49 solid 1px;
    flex-direction: column;
  }
}
/* Pagina Los Campeones */

.cardConteiner{
  width: 110%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.tarjeta{
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  border: black 2px solid;
  border-radius: 5px ;
  font-size: small;
}

.tarjeta:hover{
}

h4{
  font-family: "Exo", sans-serif;
}


/* Pagina formulario */
.form{
  text-align: center;
  display: flexbox;
}
.labels{
  line-height: 2.5cap;
}
.inputsForm{
  font-family: "Exo", sans-serif;
  width: 50%;
  padding: 5px 7px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.textForm{
  font-family: "Exo", sans-serif;
  width: 75%;
  height: 400px;
  padding: 5px 7px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  resize: none;
}
.sendButton{
  background-color: #1d2d49; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 5%;
}

/* Fan zone page */
.slider-frame{
  width: 550px;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;

}
.slider-frame ul{
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 16s infinite alternate ease-in-out;
}
.slider-frame li{
  list-style: none;
  width: 100%;
}
.slider-frame img{
  width: 100%;
}
@keyframes slide{
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  95% {margin-left: -300%;}
}