* {
/* Saque los margins y border radius para el footer (ver si se pone separadamente en cada section */
  color: aliceblue;
  margin: 0px;
}

h1 {
  border: black 2px solid; /*........Borrar linea al finalizar*/
  font-family: "Exo", sans-serif;
  text-align: center;
  font-size: 3.5vw;
  background-color: rgb(91, 155, 252);
  color: aliceblue;
}

h2 {
  font-family: "Exo", sans-serif;
}

header {
  border: 2px black solid; /*........Borrar linea al finalizar*/
  transition: ease-in 2s;
  width: 100%;
  margin: auto;
}

header:hover {
  width: 80%;
  transition: ease-out 1s;
  margin: auto;
}

nav {
  border: 2px black solid; /*........Borrar linea al finalizar*/
  background-color: rgb(91, 155, 252);

  color: aliceblue;
  font-size: x-large;
  font-family: "Exo", sans-serif;

  display: flex;
  justify-content: space-evenly;
}

main {
  border: 2px black solid;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
}

.secciones {
  border: 2px black solid; /*........Borrar linea al finalizar*/
  width: 70%;
}

aside {
  border: 2px black solid; /*........Borrar linea al finalizar*/
  background-color: rgb(91, 155, 252);
  width: 30%;
  padding: 10px;
  text-align: center;
}

.maindiv1 {
  border: 2px black solid; /*........Borrar linea al finalizar*/
  background-color: rgb(91, 155, 252);
  padding: 10px;
}

footer{
  margin: 0px;
  padding: 0px;
  background-color: #1d2d49;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.foot1{
  text-align: center;
  margin: 15px;
  font-weight: bold;
}
.socialMedia{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fa-brands:hover{
  animation: changeColor 0.6s linear 0s 1 normal forwards running;

  
  
}
@keyframes changeColor {
  from {opacity: 1}
  to {opacity: 0.3}
}

.fa-brands {
  font-size: 2em;
  margin: 15px;
}



